
@font-face {
    font-family:".";
    src:url("circular-medium.woff2") format("woff2"),url("circular-medium.woff") format("woff"),url("circular-medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        